*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-section{
    padding-top: 100px;
}

.row{
    display: flex;
   
}

/* Contect start */
.content p{
    text-align: justify;
}
.greeting{
    font-size: 60px;
}
.greeting span{
    font-size: 60px;
    color: #F24E1E;
    font-family: 'Clicker Script', cursive;
    font-weight: 600;
}

.my-profession{
    font-size: 40px;
    font-weight: 500;
}

#profession{
    color: #F24E1E;
} 


.home-button{
    padding-top: 40px;
}

.btn{
    border-radius: 20px;
    color: white;
    background-color: orangered;
    width: 160px;
    
  }

  .btn:hover{
    background-color:#fa9d88;
  }

.social-icons{
    padding-top: 40px; 
    display: inline-block;
 
  
}
.social-icons a{
    color: #F24E1E;
    font-size: 40px;
    margin: 0 10px;  
   
}

.social-icons a:hover{
    color:#fc947c;
  
    
}


  .image-container{

    height:100%;
    width: 500px; 
  
  } 
  
.home-img{
    height: 440px;
    width: 600px;
    margin: 10px;
    padding-left: 40px;

    
  }

