.home-section{
    padding-top: 150px;

}

.row{
    display: flex;
    justify-content: space-between;
}

.greeting span{
    color: #F24E1E;
    font-family: 'Clicker Script', cursive;
    font-weight: 600;
}

.my-profession span{
    color: #F24E1E;
}
 .social-icons{
    height: 30px;
 }
 .social-icons a{
    color: #F24E1E;
    padding: 20px;
    font-size: 50px;
 }

.social-icons:hover{
   
}

.home-button{
    padding-top: 70px;
}

.btn{
    border-radius: 20px;
    color: white;
    background-color:#F24E1E;
    
  }
  
.image{
    height: 350px;
    width: 400px;
    
  }
.home-image{
    padding-left: 150px;
  }

.home-image::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid #F24E1E;
    border-right: 10px solid #F24E1E;
    right: 100px;
    bottom: -50px;
  }

  .home-image::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid #F24E1E;
    border-left: 10px solid #F24E1E;
    left: 150px;
    top: -40px;
  }
  
