*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section */

.Navbar{
    background-color: #FED2C8;
    max-width: 100%;  
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background:#F24E1E;
    padding: 0; 
    
}


.name{
    padding-left: 10px;
    font-weight: 600;
    font-size: 25px;
}

.name span{
    font-family: 'Clicker Script', cursive;
    font-weight: 600;
    color:#F24E1E ;
}

