
/* showcase */
.portfolio{  
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
align-items: center;
margin: 20px 0px;
  

}  

.projects{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    /* height: 400px; */
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(85, 63, 38);
    color: white;
    box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
    -webkit-box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
    -moz-box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
    z-index: 1;
    
}

/* .card{
    .card {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        background-color: rgb(85, 63, 38);
        color: white;
        box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
        -webkit-box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
        -moz-box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
        z-index: 1;
        
      }
} */

/* .card {
    width: 100%;
    max-width: 500px;
  }  */
  @media (max-width:991px)
  {
      
      .portfolio .portfolio-item,.showcase,
      .service .service-item
      {
          flex: 0 0 50%;
          max-width: 100%;
      }
     
  }
  @media (max-width: 768px) {
    .projects {
      width: 100%;
      max-width: 300px;
    }
  }


  @media (max-width:767px)
{
    
    .portfolio .portfolio-item
   
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
  @media only screen and (max-width: 600px) {
    
    .portfolio {
      flex-direction: column;
      width: 100%;
    }
    .projects {
      width: 100%;
    }

    .card {
        width: 60%;
        height: 250px;
    }
  
  }
  
  @media (max-width:450px){
  

    .projects {
      display: grid;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  
  }