/* *{
  background-color: rgb(238, 168, 142);
} */
.portfolio-section{
  padding-top: 40px;
}

.portfolio-section h4{
  padding-top: 40px;
 text-align: center;
}

.portfolio{  
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
align-items: center;
margin: 20px 0px;

}  

.projects{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fed2c8c2;
    color: rgb(102, 98, 98);
    box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
    -webkit-box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
    -moz-box-shadow: -10px 10px 5px -5px rgba(79, 75, 75, 0.89);
    z-index: 1;
    
}

.projects p{
  text-align: center;
  font-size: x-large;
  background-color: #fed2c8c2;
}
.p-img{
  height: 250px;
  border-radius: 5px;
}

.projects a{
  padding-top: 10px;
  text-align: center;

}

  @media (max-width:991px)
  {
      
      .portfolio .portfolio-item
      
      {
          flex: 0 0 50%;
          max-width: 100%;
      }
     
  }
  @media (max-width: 768px) {
    .projects, .p-img {
      width: 100%;
      max-width: 300px;
    }
  }


  @media (max-width:767px)
{
    
    .portfolio .portfolio-item, .p-img
   
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
  @media only screen and (max-width: 600px) {
    
    .portfolio {
      flex-direction: column;
      width: 100%;
    }
    .projects {
      width: 100%;
    }

    .card {
        width: 60%;
        height: 250px;
    }
  
  }
  
  @media (max-width:450px){
  

    .projects, .p-img {
      display: grid;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  
  }