.portfolio{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} 
.projects{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1, .image2, .image3{
    height: 200px;
    width: 200px;
}  