*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Sans-serif';
}
 .about-section{
    padding-top: 80px;

 }
.about-image{
    padding-top: 80px;
}

.image{
    width: 380px;
}
#about-image{
    height: 400px; 
    padding-left: 50px;
    padding-top: 30px;
}
