*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Sans-serif';
}
 .about-section{
    padding-top: 80px;

 }
 .title{
    font-weight: 700;
 }
 /* .about-title::before{
    content: '';
    height:4px;
    width: 50px;
    background-color: orangered;
    position: absolute;
    top: 100%;
    left: 0;
 }

.about-title::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: crimson;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
} */

.about-image{
    padding-top: 80px;
}

.image{
    width: 380px;
}
#about-image{
    height: 400px; 
    padding-left: 50px;
    padding-top: 30px;
}
.personal-info{
    padding-top: 10px;
}
.abt-buttons{
    padding-top: 10px;
    display: flex;
    
}
.hire-btn{
    padding-left: 20px;
}

/* Skills section start */
.image4{
    width: 183px;
    height: 175px;
    flex-shrink: 0;
    border-radius: 108px;
}

.image2{
    width: 277px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 149px;
}

.image3{
    width: 277px;
    height: 252.536px;
    flex-shrink: 0;
    border-radius: 190px;
}
.image1{
    width: 183px;
    height: 175px;
    flex-shrink: 0;
    border-radius: 108px;
}
/* skills section end */



