#contact{
    padding-top: 40px;
}

.contact-section .title{
    padding-top: 30px;
}

.contact-section h4{
    padding-top: 40px;
    text-align: center;
}

.contact-box{
    width: 900px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.left{
	/* background: url("../../images/contact1.png") no-repeat center;
	background-size: cover;  */
	height: 100%;
}
.right{
	padding: 25px 40px;
}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
    border: 2px solid orangered;
    background-color: #fff;
}

.flip-box {
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }

  .cnt-img{
    
    width: 370px;
    padding-top: 50px;
    
  }
  textarea{
    height: 200px;
  }
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    padding-left: 40px;
    padding-top: 20px;

  }
  
  .flip-box-back {
    padding-left: 40px;
    padding-top: 20px;
    /* background-color: #555; */
    color: black;
    height: 400px;
    
    transform: rotateY(180deg);
  }


.contact-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}











  
/* Media quiries */
@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
} 