/* whole footer start */



.page-footer{
    background-color: #FED2C8;
    max-width: 100%;  
    padding-bottom: 30px;
    
}

#footer{
    background-color: #FED2C8; 
}
/* whole footer end */
.footer-copyright{
    background-color: #FED2C8;
}

#copyright{
    padding-left: 130px;
    padding-right: 95;
    background-color: #FED2C8;
    padding-top: 30px;
}
/* icons start */
#icons{
    
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #FED2C8;
  
}

.icon{
    background-color: #FED2C8;
    padding-top: 20px;
}

.icon a{
    background-color: #FED2C8;
}

.row{
    padding: 0;
   
}


.col-md-4 span{
    position: relative; 
    display: block;
    color: black;
    font-size: 25px;
    width: 50px;
    line-height: 10px;
    margin: 0 15px;
    cursor: pointer; 
    transition: .5s; 
    background-color: #FED2C8;
    
} 

.col-md-4 span::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: orangered; 
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s; 
    background-color: #FED2C8;
} 

.col-md-4 span:hover::before{
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px orangered;
}

.col-md-4 span:hover{
    color: orangered;
    text-shadow: 0 0 15px orangered;
} 
 
.col-md-4 .icon{
   cursor: pointer; 

}
/* icons end */


/* logo start */
#logo{
    padding-top: 25px;
    padding-left: 300px;
    background-color: #FED2C8; 
}

.circle {
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle h3 span{
    background-color: transparent;
}
.col-md-4 span::before{
    background-color: transparent;
    background: transparent;
}
.footer-logo{
    position: relative;
    width: 50px;
    height: 50px;
    background: url(../../images/logo.png);
    background-size: cover;
    border-radius: 50%;
} 

.text{
    position: absolute;
    font-size: 6px;
    user-select: none;
    pointer-events: none;
    animation: animate 5.5s linear infinite;
}
/* @keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}  */

.text span{
    position: absolute;
    top: -30px;
    right: -65px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    background-color: transparent;
    transform-origin: 0 35px; 
    /* width of the rotating words */
} 

/* logo end */

@media(max-width:767){
  .col-md-4{
    margin-bottom: 8rem !important;
    display: flex;
    flex-direction: row;
  }  
}