/* .page-footer{
    background-color: red;
    
}

#copyright{
    padding-right: 200px;
}

#icons{
    display: flex;
    padding: 20px;
}
.col-md-4 span{
    position: relative;
    display: inline-flex;
    color: black; 
    font-size: 20px;
    width: 50px;


}  */

/* .col-md- span{
    /* position: relative; */
    /* display: block;
    color: black;
    font-size: 20px;
    width: 50px;
    /* background:rgb(53, 52, 52); */
    /* line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer; */
    /* transition: .5s; */
/* } */ */ */

/* .col-md-3 span::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    /* background: orangered; */
    /* height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s; */

/* } */
/*  */
/* .col-md-3 span:hover::before{
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px orangered;
}
.col-md-3 span:hover{
    color: #ffa502;
    box-shadow: 0 0 15px orangered;
    text-shadow: 0 0 15px orangered;
} */ */
/* 
.col-md-3 .icon{
   cursor: pointer;

}
.col-md-3 .icon .tooltip{
   color: b;

}

/* #logo{
    padding-left: 300px;
}