/* whole footer start */



.page-footer{
    background-color: #FED2C8;
    max-width: 100%;  
    
}

#footer{
    background-color: #FED2C8; 
}
/* whole footer end */

#copyright{
    padding-right: 40px;
    background-color: #FED2C8;
}
/* icons start */
#icons{
    
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #FED2C8;
  
}

.icon{
    background-color: #FED2C8;
}
.icon a{
    background-color: #FED2C8;
}

.row{
    padding: 0;
   
}

.footer-copyright{
    background-color: #FED2C8;
}

.col-md-4 span{
    position: relative; 
    display: block;
    color: black;
    font-size: 25px;
    width: 50px;
    line-height: 10px;
    margin: 0 15px;
    cursor: pointer; 
    transition: .5s; 
    background-color: #FED2C8;
    
} 

.col-md-4 span::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: orangered; 
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s; 
    background-color: #FED2C8;
} 

.col-md-4 span:hover::before{
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px orangered;
}

.col-md-4 span:hover{
    color: orangered;
    text-shadow: 0 0 15px orangered;
} 
 
.col-md-4 .icon{
   cursor: pointer;
   

}
/* icons end */


/* logo start */
#logo{
    padding-left: 300px;
    background-color: #FED2C8;
    
}
/* logo end */

@media(max-width:767){
  .col-md-4{
    margin-bottom: 8rem !important;
    display: flex;
    flex-direction: row;
  }  
}